@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-success-2: var(--success-2);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-highlight: var(--highlight);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.2538 0.0159 232.53);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2097 0.0186 228);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2538 0.0159 232.53);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.7879 0.116 183.17);
  --primary-foreground: oklch(0.11 0.012 264);
  --secondary: oklch(0.2097 0.0186 228);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2 0.008 264);
  --muted-foreground: oklch(0.6906 0.0118 182.71);
  --accent: oklch(0.357 0.0509 183.46);
  --accent-foreground: var(--highlight);
  --error: oklch(0.6991 0.1553 9.97);
  --success: oklch(0.6466 0.1262 166.51);
  --success-2: oklch(0.7879 0.116 183.17);
  --border: oklch(0.3028 0.0153 232.29);
  --input: oklch(0.18 0.008 264);
  --chart-1: oklch(0.65 0.15 180);
  --chart-2: oklch(0.65 0.2 12);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.14 0.008 264);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.65 0.15 180);
  --sidebar-primary-foreground: oklch(0.11 0.012 264);
  --sidebar-accent: oklch(0.2 0.008 264);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.25 0.008 264);
  --highlight: oklch(0.9224 0.1013 176.97);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes positive-flash {
  0% {
    color: var(--color-success);
  }
  100% {
    color: currentColor;
  }
}

@keyframes negative-flash {
  0% {
    color: var(--color-error);
  }
  100% {
    color: currentColor;
  }
}

@utility animate-change-flash {
  animation: change-flash 0.8s ease-in-out;
}

@utility animate-positive-flash {
  animation: positive-flash 0.8s ease-in-out;
}

@utility animate-negative-flash {
  animation: negative-flash 0.8s ease-in-out;
}
